@theme {
  --color-yellow-50: #fffbe8;
  --color-yellow-100: #fef6cd;
  --color-yellow-200: #feeb9b;
  --color-yellow-300: #fde068;
  --color-yellow-400: #ffd400;
  --color-yellow-500: #f5b900;
  --color-yellow-600: #d79200;
  --color-yellow-700: #b26c00;
  --color-yellow-800: #915509;
  --color-yellow-900: #784711;
  --color-yellow-950: #452406;
}
